.contact-link {
  background: linear-gradient(to left, #fe34dc, #903AFF);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}

.contact-container {
  display: flex;
  justify-content: center;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 40px 0;
  justify-content: space-around;
}

.container-wrapper>div {
  width: 50%;
}

.text-area h2,
.text-area p {
  margin-bottom: 20px;
}

.text-area p {
  color: #fff;
}

.text-area h2,
.text-area p span,
.form-head h3 {
  color: #D434FE;
}

.text-area p svg {
  margin-right: 10px;
}

.form-area {
  padding: 30px;
  box-sizing: border-box;
  border-radius: 7px;
  background: #8f3aff10;
}

.form-head {
  margin-bottom: 30px;
}

.form input,
.form textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px 15px;
  background: none;
  border: 1px solid #cccccc;
  border-color: gray;
  color: #fff;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.submit-btn button,
.s-link {
  cursor: pointer;
  border: 0;
  color: #fff;
}

.c-social-mobi,
.c-back-btn {
  display: none;
}

.c-back-btn {
  cursor: pointer;
}

.c-disc-mobi {
  display: none;
  color: #fff;
  margin-bottom: 20px;
}

/* Thank you section */
.contact-thanks {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #150e28e3;
}

.contact-thanks div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-thanks p {
  width: 100%;
  display: block;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.contact-thanks img {
  width: 40%;
}

.c-close {
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 5px 10px;
  background: transparent;
  font-weight: 700;
  color: #D434FE;
  border: 0;
  font-size: 25px;
}

.c-close:hover {
  border: 1px solid #D434FE;
  background: none !important;
}

@media only screen and (max-width: 1093px) {
  .container-wrapper {
    width: 100%;
    padding: 30px;
    justify-content: center;
  }

  .container-wrapper>div {
    width: 100%;
  }

  .form-area {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    padding: 40px;
    border-radius: 0;
    background: #150E28;
    z-index: 999;
  }

  .text-area {
    display: none;
  }

  .c-back-btn {
    margin-bottom: 20px;
  }

  .submit-btn {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .c-social-mobi {
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    height: fit-content;
  }

  .c-social-mobi span {
    color: #D434FE;
    font-weight: bold;
  }

  .c-social-mobi svg {
    margin-right: 10px;
  }

  .c-back-btn {
    margin-bottom: 30px;
    display: inline-block;
  }

  .c-disc-mobi {
    display: block;
  }

  textarea {
    height: 50%;
  }

  /* Thanks for contact */
  .contact-thanks p {
    font-size: 1.5rem;
  }
}