* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background: #150E28;
}

.container {
  background-image: url(../images/Purple-Lens.png);
  background-size: 80% 70%;
  background-position: left top;
  background-repeat: no-repeat;
  border-top: 1px solid #ffffff33;
}

.reg-link,
.hero-text button,
.Judging-btn,
.privacy-text-body button,
.submit-btn button {
  background-image: linear-gradient(to right, #fe34dc, #903AFF);
  padding: 10px 40px !important;
  border-radius: 4px;
  font-weight: bold;
}

.text-h2 {
  color: #fff;
  text-align: right;
  padding: 20px 60px;
  font-style: italic;
  font-weight: bold;
  font-size: 26px;
}

.vector1 {
  float: right;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 60px;
  border-bottom: 1px solid #ffffff33;
}

.hero-section>div {
  box-sizing: border-box;
}

.hero {
  width: 55%;
}

.hero-text {
  color: #fff;
  position: relative;
}

.hero-text h1 {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.ligh-bulb {
  position: absolute;
  top: -20px;
  right: 31%;
}

.hero-text span {
  color: #D434FE;
}

.hero-text p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.hero-text button {
  margin-bottom: 40px;
  border: 0;
  color: #fff;
}

.countdown {
  color: #fff;
}

.countdown code {
  margin-right: 20px;
}

.countdown span {
  font-size: 50px;
}

.hero-img {
  display: flex;
  justify-content: center;
  width: 45%;
  background-size: 80% 60%;
  background-image: url(../images/man-wearing-smart.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}

.intro-section,
.rules-section,
.judging-section,
.ask-section,
.privacy-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  border-bottom: 1px solid #ffffff33;
}

.prizes-section {
  padding: 20px 60px;
  border-bottom: 1px solid #ffffff33;
}

.intro-section>div,
.rules-section>div,
.judging-section>div,
.ask-section>div,
.prize-images>div,
.privacy-section>div {
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
  color: #fff;
}

.prizes-text {
  display: flex;
  justify-content: end;
  color: #fff;
}

.prize-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.prize-images>div {
  padding-top: 0;
}

.prize-images>div:first-child {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.prizes-text>div {
  width: 40%;
  padding: 30px 0 0 60px;
}

.intro-img,
.rules-img,
.judging-img,
.ask-sec-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-img>img:first-child {
  width: 70%;
}

.rules-img img,
.judging-img.j-img {
  width: 80%;
}

.intro-img>img:last-child {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.intro-text h2,
.rules-text h2,
.judging-text h2,
.ask-text h2,
.prizes-text h2,
.privacy-text-head h2 {
  position: relative;
  margin-bottom: 15px;
  line-height: 1.5;
}

.intro-text h2 img {
  position: absolute;
  right: 0;
  width: 20px;
}

.rules-text h2 img {
  position: absolute;
  right: 50%;
  top: 0;
  width: 20px;
}

.ask-text h2 img {
  position: absolute;
  left: -5%;
  width: 20px;
  top: -40%;
}

.rules-text p {
  position: relative;
}

.rules-text p img {
  position: absolute;
  right: 0;
  bottom: -20%;
  width: 20px;
}

.intro-img .star {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 20px;
}

.intro-text p,
.rules-text p,
.judging-text p,
.prizes-text p,
.partners-head p {
  line-height: 1.5;
}

.intro-text h2 span,
.rules-text h2 span,
.judging-text h2 span,
.ask-text h2 span,
.prizes-text h2 span,
.privacy-text-head h2 span {
  color: #D434FE;
}

.judging-text p span {
  color: #FF26B9;
}

.judging-text p,
.ask-text p,
.privacy-text-head p,
.privacy-text-body p {
  margin-bottom: 20px;
  line-height: 1.4;
}

.Judging-btn,
.privacy-btn {
  cursor: pointer;
  border: 0;
  color: #fff;
}

.j-star-pu,
.j-star2,
.j-star {
  position: absolute;
  width: 20px;

}

.j-star-pu {
  top: -5%;
  left: 25%;
}

.j-star {
  bottom: 10%;
  right: 10%;
}

.ask-text {
  margin-bottom: 20px;
}

.ask-tab>div {
  border-bottom: 1px solid #d634fe6e;
  margin-bottom: 5px;
  padding: 15px 0;
}

.ask-tab span {
  float: right;
  padding: 10px;
}

.ask-b {
  position: absolute;
  width: 20px;
}

.ask-b.star1 {
  top: 0;
  right: 50%;
}

.ask-b.star2 {
  top: 20%;
  left: 25%;
}

.ask-b.star3 {
  bottom: 45%;
  left: 18%;
}

.ask-b.star4 {
  bottom: 5%;
  right: 30%;
}

.ask-sec-img svg {
  position: absolute;
}

.ask-mark2 {
  top: -3%;
  left: 37%;
}

.ask-mark1 {
  top: 5%;
  left: 20%;
}

.ask-mark3 {
  top: 2%;
  right: 40%;
}

.timeline-section,
.partners-section {
  padding: 40px 80px;
  border-bottom: 1px solid #ffffff33;
}

.timeline-body>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.timeline-body>div>div {
  width: 40%;
}

.timeline-section>div p {
  color: #fff;
  line-height: 1.5;
}

.timeline-head {
  text-align: center;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 50px;
}

.timeline-head h2 {
  margin-bottom: 10px;
}

.timeline-body h3 {
  color: #D434FE;
}

.timeline-body p {
  margin-top: 10px;
}

.timeline-body>div>div:nth-child(odd) {
  text-align: right;
}

.timeline-svg {
  display: flex;
  flex-wrap: wrap;
}

.timeline-svg>div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.svg-l {
  width: 4px;
  height: 50px;
}

[class^="timeline-row"]>div:nth-child(1) {
  order: 1;
}

[class^="timeline-row"]>div:nth-child(2) {
  order: 3;
}

.tl-date {
  align-self: flex-end;
  padding-bottom: 20px;
}

.tl-date-mobi {
  display: none;
}

.t-details {
  margin-bottom: -30px;
}

.timeline-svg {
  width: 5% !important;
  order: 2;
}

.timeline-svg>div:nth-child(2) {
  margin: 10px 0;
}

.partners-head {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.partners-img {
  display: flex;
  justify-content: center;
}

.partners-head h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.privacy-text-body {
  border: 1px solid #d634fe6e;
  padding: 30px;
}

.privacy-text-body h3 {
  color: #D434FE;
  margin-bottom: 10px;
}

.privacy-btn-div,
.privacy-img>div {
  display: flex;
  justify-content: center;
}

.privacy-img {
  background-image: url(../images/privacy-image2.png);
  background-size: 50%;
  background-position: center top;
  background-repeat: no-repeat;
}

.p-vector {
  display: flex;
  flex-wrap: nowrap;
}

.p-vector>div:first-child {
  margin: 5px 20px 0 0;
}

/* Footer Section */
footer {
  padding: 40px 100px;
  color: #fff;
}

.footer1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer1-1 {
  width: 50%;

}

.footer1-1 h2,
.footer1 h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer1-2 ul {
  list-style-type: none;
  line-height: 1.7;
}

.footer1-2 ul li a {
  text-decoration: none;
  color: #fff;
}

.footer1-1 h2 span,
.footer1 h4,
.footer1-2 p span {
  color: #D434FE;
}

.footer1-2 p span,
.footer1-2 p svg {
  margin-right: 10px;
}

.footer1-2 p svg {
  cursor: pointer;
}

.footer1-1 p {
  line-height: 1.5;
}

.footer1-1 p:last-child {
  margin-top: 40px;
}

.footer1-1 p:last-child span {
  color: #D434FE;
  font-size: 25px;
  font-weight: bolder;
}

.footer1-2,
.footer1-3 {
  width: 20%;
}

.footer1-3>div {
  margin-bottom: 15px;
}

.footer1-3>div:last-child {
  display: flex;
  flex-wrap: nowrap;
}

.footer1-3>div:last-child div {
  margin-right: 20px;
  line-height: 1.5;
}

.footer2 {
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 1093px) {

  .hero-section,
  .intro-section,
  .rules-section,
  .judging-section,
  .ask-section,
  .timeline-section,
  .prizes-section,
  .partners-section,
  .privacy-section,
  footer {
    padding: 30px;
  }

  .text-h2 {
    font-size: 14px;
    padding: 20px;
    text-align: center;
  }

  .vector1 {
    width: 40%;
  }

  .hero,
  .hero-img,
  .intro-section>div,
  .rules-section>div,
  .judging-section>div,
  .ask-section>div,
  .prizes-section>div,
  .privacy-section>div {
    width: 100%;
  }

  .hero-text h1 {
    font-size: 34px;
    margin-bottom: 10px;
    text-align: center;
  }

  .intro-section>div,
  .rules-section>div,
  .judging-section>div,
  .privacy-section>div {
    padding: 10px 10px;
    text-align: center;
  }

  .privacy-text-body>div {
    text-align: left;
  }

  .ask-section>div {
    padding: 20px 10px;
  }

  .ask-text,
  .p-lead {
    text-align: center;
  }

  .rules-img {
    order: 1;
  }

  .rules-text {
    order: 2;
  }

  .hero-text img {
    width: 30px !important;
  }

  .hero-text p {
    font-size: 14px;
    text-align: center;
  }

  .hero-btn-div,
  .countdown {
    display: flex;
    justify-content: center;
  }

  .hero-text button {
    margin-bottom: 20px;
  }

  .countdown code {
    margin-right: 0;
    padding: 0 10px;
  }

  .countdown p {
    display: flex;
    justify-content: space-evenly;
  }

  .timeline-body>div {
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  [class^="timeline-row"]>div:nth-child(1) {
    order: 2;
  }

  [class^="timeline-row"]>div:nth-child(2) {
    order: 3;
  }

  .timeline-svg {
    width: 7% !important;
    order: 1;
  }

  .tl-date {
    display: none;
  }

  .timeline-body>div>div {
    width: 85%;
  }

  .timeline-body>div>div:nth-child(2n+1) {
    text-align: left;
  }

  .t-details {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .timeline-body p {
    margin-top: 10px;
    font-size: 16px;
  }

  .svg-l {
    width: 4px;
    height: 90px;
  }

  .tl-date-mobi {
    display: inline-block;
    margin-top: 10px;
  }

  .prizes-text>div {
    width: 100%;
    padding: 0 0 0 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .prizes-text h2 {
    margin-bottom: 10px;
    line-height: 1;
  }

  .prize-images>div {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .prize-images>div img {
    width: 100%;
  }

  /* footer section */
  .footer1>div {
    width: 100%;
    margin-bottom: 30px;
  }
}