.reg-link {
  background: none !important;
  border: 1px solid transparent;
  border-image: linear-gradient(#903AFF, #fe34dc) 1 stretch;
}

.reg-link:hover {
  background: linear-gradient(to right, #fe34dc, #903AFF) !important;
  border-image: linear-gradient(to left #fe34dc #903AFF) 1 stretch;
}

.register-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 30px;
}

.reg-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.reg-img {
  width: 40%;
  padding: 30px;
  box-sizing: border-box;
}

.reg-form-area {
  width: 55%;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 7px;
  background: #8f3aff10;
}

.reg-form-head h2 {
  color: #D434FE;
  margin-bottom: 30px;
}

.reg-form-head p,
.reg-form-head h3,
.reg-input {
  color: #fff;
  line-height: 1.5;
}

.reg-form-body {
  margin-top: 20px;

}

input,
select {
  background: none;
  border: 1px solid #ccccccbd;
}

.reg-input input,
.reg-input select {
  width: 90%;
  padding: 7px 10px;
  color: #fff;
}

.reg-checkbox input {
  background: none;
  color: #fff;
}

.reg-input>div:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

input {
  box-sizing: border-box;
}

.reg-input>div:last-child input,
.reg-input>div:last-child label,
.reg-input>div:last-child select {
  width: 100%;
}

.reg-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.reg-input>div {
  width: 100%;
}

.register-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.register-btn button {
  cursor: pointer;
  border: 0;
  color: #fff;
  width: 100%;
}

.reg-checkbox p {
  margin-bottom: 10px;
  color: #D434FE;
}

.reg-checkbox span {
  color: #fff;
}

/* Registration successfully */
.reg-success {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #150e28ee;
  z-index: 9999;
}

.success-wrap {
  width: 30%;
  border: 1px solid #d634feec;
  padding: 40px;
  text-align: center;
  color: #fff;
}

.s-image-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.s-image-wrap img:first-child {
  margin-right: -150px;
  margin-top: -17px;
}

.success-text h3 {
  margin-bottom: 20px;
}

.s-back-btn {
  margin-top: 20px;
}

.s-back-btn button {
  width: 100%;
  cursor: pointer;
  border: 0;
  color: #fff;
}

@media only screen and (max-width: 1093px) {
  .reg-wrapper {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #150E28;
    z-index: 9999;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .reg-form-area {
    border-radius: 0;
    background: none;
  }

  .reg-img>div:last-child {
    display: flex;
    justify-content: center;
  }

  .reg-img img {
    width: 50%;
  }

  .reg-wrapper,
  .reg-wrapper>div {
    width: 100%;
  }

  .reg-form-head p,
  .reg-form-head h3 {
    text-align: center;
  }

  .reg-form-head h3 {
    font-size: small;
  }

  .reg-form-head p {
    font-size: small;
  }

  .reg-form-head h2 {
    display: none;
  }

  .reg-img {
    width: 40%;
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
  }

  .reg-input:not(.select) {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .select>div:first-child {
    width: 60%;
  }

  .select>div:last-child {
    width: 30%;
  }

  .reg-input input,
  .reg-input select {
    margin-bottom: 15px;
  }

  .select {
    margin-bottom: 0;
  }

  .register-btn button {
    width: auto;
  }

  .reg-input input {
    width: 100%;
  }

  .reg-checkbox {
    font-size: small;
  }

  /* Success Display section */
  .reg-success {
    display: none;
  }

  .success-wrap {
    width: 60%;
    padding: 30px;

  }

  .s-image-wrap img:first-child {
    margin-right: -75px;
    margin-top: -10px;
  }

  .success-text p {
    font-size: small;
  }

  .success-text h3 {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .success-text img {
    width: 5%;
  }
}